:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --green-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-bg-color: #2e2f42;
  --white-color: #ffffff;
  --modalbg-color: #fcfcfc;
}

/* Common text styles */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: var(--white-color);
}

ul {
  list-style-type: none;
}
a {
  color: currentColor;
  text-decoration: none;
}

/* Logo */

.logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

.logo > .logo-part {
  color: var(--primary-brand-color);
}

.logo.header {
  color: var(--dark-color);
}

.logo.footer {
  color: var(--light-color);
}

/* Titles */

.list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  color: var(--dark-color);
}

/* Buttons */

.btn {
  color: var(--white-color);
  background-color: var(--primary-brand-color);
}

.btn:hover,
.btn:focus {
  background-color: var(--pressed-state-color);
}

/* Header */

.nav-list {
  color: var(--dark-color);
  font-weight: 500;
}

.nav-list:hover,
.nav-list:focus {
  color: var(--pressed-state-color);
}

.contacts-list-item:hover,
.contacts-list-item:focus {
  color: var(--pressed-state-color);
}

/* -------------Studio Landing Page--------------- */

/* Hero Section */

.hero {
  background-color: var(--hero-bg-color);
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: var(--white-color);
  text-align: center;
}

/* Team Section */

.team {
  background-color: var(--light-color);
}

/* Footer */

.footer {
  background-color: var(--hero-bg-color);
}

.footer-text {
  color: var(--light-color);
}

/* -------------Portfolio Landing Page--------------- */

.filter-btn {
  font-weight: 500;
  background-color: var(--accent-color);
  color: var(--primary-brand-color);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--pressed-state-color);
}
